env/dev.env
env/prod.env
env/defaults.env
node_modules
build
build.zip
.history
.vscode
.env
protected/*/**/*.png
protected/*/**/*.jpg
protected/*/**/*.jpeg
protected/*/**/*.gif
package-lock.json

logs/errors/*.*
logs/exceptions/exceptions.log
logs/
logs*
.clinic
